@import 'variables';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  text-decoration: none;
}

nav{
  background-color: #ccc;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  i{
    font-size: 35px;
    color: #fff;
  }
}

h1{
  padding: 10px 0;
  text-align: center;
}

.logo{
  height: 80px;
 }
 
 .modal-header{
  background-color:rgba(199, 189, 189, 0.404);
 }

.sidepanel {
  height: 100vh; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #fff !important;
  margin-left: 50px;
  cursor: pointer;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ccc;
  color: white;
  padding: 10px 15px;
  border: none;
  &:hover {
  background-color: #444;
  }
}

a{
  text-decoration: none;
}

.categories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 40px;
  i{
    font-size: 80px;
    color: #000;
  }
  a{
    
    background-color: #ccc;
    margin: 5px 0;
    padding: 20px;
    border-radius: 50%;
    &:hover{
      background-color: #F6BC94;
    }
  }
}

.logo{
  height: 80px;   
 }
 
 .modal-header{
  background-color:rgba(199, 189, 189, 0.404);   
 }
